!!! 5

.form-inline.clearfix
  .nested-fields
    .field
      =f.label 'Ingredient'
      =f.text_field :name
    .field
      =f.label :amount
      =f.text_field :amount
    .field
      =f.label :unit
      =f.input :unit, collection: ['ml', 'L', 'C', 'TSP', 'TBS']
    %br
    %span.input-group-btn
      = link_to_remove_association button_tag('Remove Ingredient', type: "button", class: "button2", wrapper_class: 'nested-fields'), f

