#wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
}

#wrapper-2{
  width: inherit;
  height: inherit;
  display: flex;
}

#sidebar{
  background: red;
}

#wrapper-3{}

#navigation{}

#login-logout{}

.split-left{
  left: 0;
}

.split-rigt{
  right: 0;
}
