!!! 5

%html
%head
  %title Recipe Box
  =stylesheet_link_tag    "application", :media => "all"
  =javascript_include_tag "application"
%body
  #wrapper
    #wrapper-2
      #wrapper-3
        #header.flex-row
          #title
            %p Recipe Box
          #buttons.flex-row
            #navigation
              %p.btn.btn-default.navbar-item.button1= link_to 'New Recipe', root_path
            #login-logout
              %p.bttn.btn-default.navbar-item.button1= link_to 'Login', root_path
              %p.btn.btn-default.navbar-item.button1= link_to 'Logout', root_path
        #main-content
          %h1 Main Contenti
        #footer
          %p footer
