!!! 5

%html
%head
  %title Recipe Box
  =stylesheet_link_tag    "application", :media => "all"
  =javascript_include_tag "application"
%body
  #wrapper
    #wrapper-2
      #sidebar.split-left.column
        #navigation
          %p Nav Buttons
        #login-logout
          %p.bttn.bttn-default= link_to 'Login', root_path
          %p.bttn.bttn-default= link_to 'Logout', root_path
      #wrapper-3.split-right
        #header
        #main-content
          %h1 Main Contenti
        #footer
